.weather__card_details {
    width: 220px;
    margin-left: 18px;
}
.card_subtitle__reset {
    margin-bottom: 0px;
}

@media (max-width: 560px) { 
    .weather__card_details {
        margin-top: 18px;
        margin-left: 0px;
    }
}