<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Weather App</span>
    </mat-toolbar-row>
</mat-toolbar>
<section class="search-weather">    
    <mat-card class="search__card">        
        <mat-form-field appearance="standard">
            <mat-label>Location</mat-label>
            <input matInput placeholder="Eg. Zapopan, Monterrey..." [(ngModel)]="locationSearch" (keyup)="onKeyup($event)">
            <button mat-icon-button matSuffix
                (click)="searchWeather()">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <mat-radio-group
            class="units-radio-group"
            (change)="saveUnits()"
            [(ngModel)]="units">
            <mat-radio-button value="m">
                Metric
            </mat-radio-button>
            <mat-radio-button value="i">
                Fahrenheit
            </mat-radio-button>
        </mat-radio-group>
    </mat-card>
</section>
<section class="main">
    <section class="title">
        <mat-card class="weather__card_title">
            <mat-card-header>
                <mat-card-title>{{location}}</mat-card-title>
            </mat-card-header>
        </mat-card>
    </section>
    <section class="weather">
        <app-current-weather [weather]="currentWeather" [isLoading]="loadingWeather"></app-current-weather>
        <app-current-weather-detail [weather]="currentWeather" [isLoading]="loadingWeather"></app-current-weather-detail>        
    </section>
    <section class="forecast">        
        <app-forecast-weather *ngFor="let weather of forecastWeather" [forecast]="weather" [isLoading]="loadingWeather"></app-forecast-weather>
    </section>
</section>
